---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$whiteColor: #F5F4EB;
$footerBackground: darken($whiteColor, 15%);

body {background-color:$whiteColor;}

.site-header { 
  background-size: cover;
  background-position: center center;
  background-color: #121212;
  color: $whiteColor;
  border-bottom: solid 1px #434E3C;
  background-position: top;
  
  
  a.site-title,
  a.page-link {
        color: $whiteColor;
       
  }
}

footer {background-color:$footerBackground;}

// #eee4e4

