---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {background-color:#fae1a8;}

.site-header { 
  background-size: cover;
  background-position: center center;
  background-image:url('https://images.unsplash.com/photo-1541741212716-e3322d597384?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=018843f11d36524d9defb36ac789f258&auto=format&fit=crop&w=1190&q=80'); 
  
  a.site-title,
  a.page-link {
        color: honeydew;
  }
}